header {
  display: flex;
  flex-direction: column;
  position: relative;
  h2 {
    text-align: center;
    padding: 10px;
  }
  nav {
    display: flex;
    justify-self: flex-end;
    position: absolute;
    right: 10px;
    gap: 10px;
  }
}
